    <nav id="menu-1" class="mega-menu fa-change-black" data-color=""> 
    <section class="menu-list-items container"> 
        <ul class="menu-links pull-left" style="display: none; max-height: 400px; overflow: auto;">
            <li class="hoverTrigger">
                <a href="javascript:void(0)"> <img src="/images/flags/{{ app.session.get('_locale', 'ua') }}.svg" alt="user-img" class="img-circle" width="36"> <div class="mobileTriggerButton"></div></a>
                <ul class="drop-down-multilevel left-side effect-fade" style="transition: all 400ms ease;">
                    <li><a href="{{ path('change_lang', {'lang': 'ua'}) }}"> <img src="/images/flags/ua.svg"class="img-circle" width="36"> Українська</a></li>
                    <li><a href="{{ path('change_lang', {'lang': 'ru'}) }}"> <img src="/images/flags/ru.svg" class="img-circle" width="36"> Русский</a></li>
                    <li><a href="{{ path('change_lang', {'lang': 'en'}) }}"> <img src="/images/flags/en.svg" class="img-circle" width="36"> English</a></li>
                </ul>
            </li>
        </ul>
        <ul class="menu-logo">
            <li> <a href="index.html"> <img src="/images/logo.png" alt="logo" class="img-responsive"> </a> <div class="menu-mobile-collapse-trigger"><span></span></div></li>
        </ul>
        
        
        <ul class="menu-links pull-right" style="display: none; max-height: 400px; overflow: auto;">
            
            <li class="hoverTrigger"><a href="javascript:void(0)"> {% trans %}Search Vacancies{% endtrans %} </a> </li>
            <li class="no-bg"><a href="" class="p-job"><i class="fa fa-plus-square"></i> {% trans %}Post a Resume{% endtrans %}</a></li>
            
            
            
            {# If user not logged in showing login button #}
            {% if not is_granted('ROLE_USER') %}
                <li class="no-bg login-btn-no-bg"><a href="{{ path('login') }}" class="login-header-btn"><i class="fa fa-sign-in"></i> {% trans %}Log in{% endtrans %}</a></li>
            {% else %}    
            {# if logged in showig avatar #}
            <li class="profile-pic hoverTrigger">
                <a href="javascript:void(0)"> <img src="/images/admin.jpg.png" tppabs="http://templates.scriptsbundle.com/opportunities-v3/demo/images/admin.jpg" alt="user-img" class="img-circle" width="36"><span class="hidden-xs hidden-sm">Arslan </span><i class="fa fa-angle-down fa-indicator"></i> <div class="mobileTriggerButton"></div></a>
                <ul class="drop-down-multilevel left-side effect-fade" style="transition: all 400ms ease;">
                    <li><a href="{{ path('user_profile') }}"><i class="fa fa-user"></i> My Profile</a></li>
                    <li><a href="#"><i class="fa fa-mail-forward"></i> Inbox</a></li>
                    <li><a href="#"><i class="fa fa-gear"></i> Account Setting</a></li>
                    <li><a href="{{ path('logout') }}"><i class="fa fa-power-off"></i> Logout</a></li>
                </ul>
            </li>
            {% endif %}
            
            
            
        </ul>
    </section>
</nav>